<h1>EDC Web</h1>

<h3> Scenario 2 </h3>
Votre nom: <input #load>
<button (click)="launchSA_API(load.value)">Launch SA</button> <br>
<button (click)="load_image_azure(load.value)">Load image from Azure</button> <br>
<button (click)="load_image_gcp(load.value)">Load image from GCP</button><br>
<button (click)="load_image_aws(load.value)">Load image from AWS</button> <br>

<img id="image" src="" width="300">

<h3> Scenario 3 </h3>
<div id="launch">
<p>Configuration: </p>  <input #conf (keyup.enter)="launchSA(conf.value)"> <button (click)="launchSA(conf.value)">Launch SA</button>
</div>
<br>
<br>
<div>
    <p>Upload your Selfie: </p>
    <input type="file" class="file-upload"  accept="image/*">
</div>